<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL_ONE_ALL</key>
	<string>https://geoweb.princeton.edu/people/simons/SOM/N0001_030.txt</string>
	<key>URL_ONE_30</key>
	<string>https://geoweb.princeton.edu/people/simons/SOM/N0001_030.txt</string>
	<key>URL_ALL</key>
	<string>https://geoweb.princeton.edu/people/simons/SOM/N0001_030.txt</string>
</dict>
</plist>
